

:root{
    /* primary colors */
    --Darkcyan:hsl(185,75%,39%);
    --veryDarkDesaturatedBlue:hsl(229,23%,23%);
    --DarkGrayishBlue:hsl(227,10%,46%);

    /* neutral color */
    --DarkGrey:hsl(0,0%,59%);

    /* very light color */
    --neutral:rgb(223, 219, 219);
}

body{
    background-color: var(--Darkcyan);
    margin: 0px;
    font-family: 'kumbh Sans', sans-serif;
    font-weight: 400,700;
    font-size: 18px;
   
}
.patterntop h5 img{
    width: 600px;
    margin: -200px 0px 0px -50px;
}
.patternbottom h5 img{
    width: 690px;
    margin: -200px 0px auto 720px;
    opacity: 20%;
}
.border{
    margin: -700px 100px 100px 460px;
    width: 200px;
   
   
}

.whiteBoarder {
    width: 300px;
    height: 300px;
    margin: -730px 0px 0px 460px;
    border-radius: 5%;
    background-color: white;
   


}
 
 .whiteBoarder h1 img{
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    width:300px;
    
   
   

 }
 

 .whiteBoarder h2 img{
     width: 70px;
     height: 70px;
    margin: -400px 0px 15px 120px;
    border-radius: 50%;
    border:3px solid white;
  
    

 }
 .whiteBoarder p{
     margin: -30px 0px 0px 120px;
     
    
     
     
     
 }
 #age{
     margin: -18px 0px 0px 230px;
     color: var(--DarkGrey);
 }

 #country{
   margin: 8px 0px 0px 130px;
   color: var(--DarkGrey);
 }

 hr{
    background-color:var(--neutral);
     margin: 30px 0px 0px 0px ;
     height: 1px;
     border: 0px solid var(--DarkGrey);
     
    
 }
 .followers p{
     margin: 10px 0px 0px 40px;
     font-weight: bold;
     
 }
 .followers h4{
    margin: 3px 0px 0px 30px;
    font-weight: lighter;
    font-size: 12px;
    color: var(--DarkGrey);
  
 }
 .likes {
     margin: -45px 0px 0px 100px;
     
 }
 
 .likes h4{
     margin: 3px 0px 0px 45px;
     
 }
 .photos p{
   margin: -35px 0px 0px 220px;

 }
 .photos h4{
     margin: 3px 0px 0px 220px;
    
 }
 
 @media (max-width:375px){
    body{
        background-color: var(--Darkcyan);
        overflow: hidden;
    }

    .patterntop h5 img{
        width: 200px;
        height: 350px;
        margin: -120px 0px 0px 20px;
    }
    .patternbottom h5 img{
        width: 170px;
        height: 400px;
        margin: 0px 0px 0px 2px;
        padding: 0px 0px 0px 290px;
        opacity: 20%;
        padding: 20px 0px 0px 310px;
       
       
    }

    .whiteBoarder {
        width: 300px;
        height: 300px;
        margin: -530px 0px 0px 50px;
        border-radius: 5%;
        background-color: white;
        
       
    
    
    }
 }
.name{
    color:#FF0000;
 

